.primary-color {
    background-color: $indigo !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $green;
    background-color: $green;
}
.grid-permissions{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}
.permssion-label-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}