.card-image {
	padding: 1rem;
}
.card {
	border: none;
	box-shadow: 7px 7px 6px 0px rgba(122, 161, 160, 0.25);
	min-height: 450px;
}
.p-techs {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.p-date {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.p-date svg {
	margin-right: 5px;
}
.card-image > .image > img {
	border-radius: 10px;
	width: 100%;
	height: auto;
}
.card-content > .content {
	margin-bottom: 15px;
}
