.brand-title {
	background: linear-gradient(rgba(3, 22, 45, 0.75), rgba(10, 5, 47, 0.55)),
		url('https://via.placeholder.com/150') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.25rem;
}
.nav-section {
	position: sticky;
	top: 0;
	background-color: #04142d;
	z-index: 1;
}
.navbar-menu {
	background-color: #04142d;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
	background-color: transparent;
	color: #3273dc;
	border-bottom: 2px solid #00d1b2;
}
.navbar {
	background-color: #04142d;
	padding-left: 3rem;
}
